{% extends '_extends/master.html.twig' %}

{% block page_content %}

  <section class="posts">
  {% for post in posts %}
    <article class="post">
        <h2 class="title">{{ post.title }}</h2>
        <div class="info">
          Published by <span class="author">{{ post.author }}</span>
          on <span class="date">{{ post.date }}</span>
        </div>
        <p>{% if post.summary is defined %}{{ post.summary }}{% endif %}</p>
        <a href="/{{ category }}/{{ post.id }}">Read more</a>
    </article>
  {% endfor %}
  </section>
  
{% endblock %}